/* Main stylesheet - imports all modular CSS files */

@import url('./css/base.css');
@import url('./css/themes.css');
@import url('./css/install-prompt.css');
@import url('./css/theme-toggle.css');
@import url('./css/mode-selection.css');
@import url('./css/board-selection.css');
@import url('./css/preview.css');
@import url('./css/game-controls.css');
@import url('./css/numpad.css');
@import url('./css/board.css');
@import url('./css/responsive.css');
@import url('./css/swiper.css');
@import url('./css/board-navigation.css');
